@import './_variables';

%textHoverUnderline {
  text-decoration: none;

  @media (min-width: $media-desktop) {
    &:hover {
      text-decoration: underline;
    }
  }
}

%opacity {
  @media (min-width: $media-desktop) {
    &:hover {
      opacity: 0.8;
    }
  }
}

%title {
  color: $black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0 auto;
}
