// media-queries
$media-desktop: '1024px';

// colors
$black: #000;
$mainText: #2c3e50;
$gray: #959595;
$lightGrey: #e7e7e7;
$green: #2ab738;
$beige: #f2ede7; // для полоски


// fonts
$font15: 15px;
$fontTitleMain: 70px;
$fontTitleMiddle: 50px;
$fontTitleSmall: 36px;
$fontCommon: 16px;
$fontName: 30px;
